<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1053041729362-l1hdff12l67ie9pm1g5lf3nvomiqiegp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053041729362-l1hdff12l67ie9pm1g5lf3nvomiqiegp</string>
	<key>API_KEY</key>
	<string>AIzaSyDEcUB2wSuiPEpUOpFy9f5xdnNefr_2S8s</string>
	<key>GCM_SENDER_ID</key>
	<string>1053041729362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ariefolo.waygngIonic</string>
	<key>PROJECT_ID</key>
	<string>waygng-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>waygng-ionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053041729362:ios:e40838907d3f6470</string>
	<key>DATABASE_URL</key>
	<string>https://waygng-ionic.firebaseio.com</string>
</dict>
</plist>