<ion-header>
  <ion-toolbar color="blue" hideBackButton>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  <ion-list>
      <ion-card *ngFor="let fav of (infosTrafic | async)?.infosAnticipees">
          
        <ion-card-header>
            {{fav.titre}}
            <div *ngFor="let line of fav.lignes">
            <ion-thumbnail item-start class="numLigne" style.color="#{{line.couleurTexte}}" style.background-color="#{{line.couleurFond}}">
                {{line.numLignePublic}}
            </ion-thumbnail>
          </div>
        </ion-card-header>
      
        <ion-card-content>
         
            <p [innerHTML]="fav.texte"></p>
            <p [innerHTML]="fav.complement"></p>
            
            <p>{{fav.url}}</p>
        </ion-card-content>
          
      </ion-card>

  </ion-list>

</ion-content>
