<ion-header>
  <ion-toolbar color="blue" hideBackButton>
    <button  ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>{{ 'TITLE.TRAFFIC_INFO' | translate }}</ion-title>
      <notification-button></notification-button>
  </ion-toolbar>
</ion-header>


<ion-content class="background-light"> 

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        refreshingText="{{ 'REFRESHING' | translate }}">
      </ion-refresher-content>
    </ion-refresher>
  
  <ion-list>
      <ion-card *ngFor="let fav of (infosTrafic | async)?.infosAnticipees">
          
        <ion-card-header>
            {{fav.titre}}
            <ion-grid>
            <ion-row>
              <ion-col class="align-center" *ngFor="let line of fav.lignes">
            <ion-thumbnail item-start class="numLigne" style.color="#{{line.couleurTexte}}" style.background-color="#{{line.couleurFond}}">
                {{line.numLignePublic}}
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-grid>
        </ion-card-header>
      
        <ion-card-content>
         
            <p [innerHTML]="fav.texte"></p>
            <p [innerHTML]="fav.complement"></p>
            
            <p>{{fav.url}}</p>
        </ion-card-content>
          
      </ion-card>

  </ion-list>

</ion-content>
