page-profile {

    .border-top{
        border-top:0.55px solid #c8c7cc
    }

    .card{
        margin-top:0px;
    }

    .row-margin{
        margin-left: 0px;
        margin-right: 0px;
    }

    .noPadding{
        padding: 0px;
    }

    .align-end{
        text-align: end;
    }

    .margin-right-comment{
        margin-right: 10px;
    }

    .rowNotification p{
        margin:0px;
        font-size: 1.2rem;
    }
}
