<ion-header>
  <ion-navbar>
    <ion-title>{{ 'TITLE.SEND_SPOT' | translate }}</ion-title>
      <ion-buttons end>
        <button  ion-button icon-only (click)="addSpot()">
          <ion-icon name="md-send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-label>{{ 'ANONYME' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="isAnonyme" checked="false" color="secondary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-textarea placeholder="{{ 'MESSAGE' | translate }}"  autofocus autocorrect type="text" maxlength="400" [(ngModel)]="message" (keyup)="eventInputMessage($event)"></ion-textarea>
  </ion-item>
  
<ion-list>
  <ion-list-header color="light">
      <b>#</b> {{ 'SUGGESTIONS_HASHTAGS' | translate }}
    </ion-list-header>
    <my-loader *ngIf="loading"></my-loader>
  <button ion-item *ngFor="let tag of hashtags" (click)="hashtagSelected(tag)">
      <ion-label>{{tag.tag}}</ion-label>
      <ion-icon *ngIf="tag.icon" [name]="tag.icon" item-end></ion-icon>
  </button>
</ion-list>



</ion-content>
