page-home {
    .numLigne{
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        padding: 0px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .precision-destination{
        font-size: 0.8em;
    }

    .home-searchbar{
        background: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
}
