<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-searchbar [(ngModel)] = "searchModel" placeholder="Station" (click)="searchStation()"> </ion-searchbar>

  <div *ngIf="searchPosition" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let tempsAttente of listeTemps">
        <ion-row>
            <ion-col col-2 class="numLigne" style.color="#{{tempsAttente.couleurTexte}}" style.background-color="#{{tempsAttente.couleurFond}}">{{tempsAttente.numLignePublic}}</ion-col>
            <ion-col col-7>{{tempsAttente.destination}}</ion-col>
            <ion-col col-3>{{tempsAttente.temps}}</ion-col>
        </ion-row>
    </ion-item>
  </ion-list>


</ion-content>
