<ion-header>
  <ion-toolbar hideBackButton>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<button ion-button full outline color="light" (click)="searchStation()">
  <ion-searchbar class="home-searchbar" [(ngModel)] = "searchModel" placeholder="Station" > </ion-searchbar>
</button>
  <div *ngIf="searchPosition" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <div *ngIf="noResult" class="warning-container">
      Aucun passage prévu à cette station dans l'heure qui vient
  </div>

  <ion-fab top right edge *ngIf="userData">
    <button ion-fab mini (click)="addFavoris()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let tempsAttente of listeTemps">
        <ion-grid>
          <ion-row>
              <ion-col col-1 class="numLigne" style.color="#{{tempsAttente.couleurTexte}}" style.background-color="#{{tempsAttente.couleurFond}}">{{tempsAttente.numLignePublic}}</ion-col>
              <ion-col col-6>{{tempsAttente.destination}} <span *ngIf="tempsAttente.precisionDestination" class="precision-destination"><br> ({{tempsAttente.precisionDestination}})</span></ion-col>
              <ion-col col-5>{{tempsAttente.lstTemps | showTwoTime}}</ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>


</ion-content>
