page-home {
    .numLigne{
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        padding: 0px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
    }

    .precision-destination{
        font-size: 0.8em;
    }

    .home-searchbar{
        background: none;
    }

    .button-margin{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
