<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-searchbar placeholder="Station" (click)="searchStation()"></ion-searchbar>

  <div *ngIf="searchPosition" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list>
    <ion-list-header>
          Stations les plus proches
    </ion-list-header>
    <button ion-item *ngFor="let station of stationProches | removeDuplicateStation" (click)="itemSelected(station)">
      <ion-row>
          <ion-col col-10><h2>{{station.nom}}</h2></ion-col>
          <ion-col col-2>{{station.latLong | calculateDistance:latitude:longitude }}</ion-col>
      </ion-row>
    </button>
  </ion-list>


</ion-content>
