page-home {
    .numLigne{
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        padding: 0px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
    }

    .precision-destination{
        font-size: 0.8em;
    }

    .home-searchbar{
        background: none;
    }

    .button-margin{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .noBottomMargin{
        margin-bottom: 5px;
    }

    .border-top{
        border-top:0.55px solid #c8c7cc
    }

    .no-border .item-inner{
        border-bottom: none !important;
    }

    .size-icon-search{
        min-height: 2rem !important;
        font-size: 2rem !important;
    }

    .size-button-close{
        font-size: 1.1rem;
    }

    .button-close{
        margin-top: 2px !important;
        margin-right: 10px !important;
        position: absolute;
        right: 20px;
    }

    .fixed-content{
        background-color: #0091D4 !important;
    }
    
    

}
