<ion-header>
  <ion-toolbar hideBackButton>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{ 'TITLE.FAVORIS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <div *ngIf="auth.user | async; then authenticated else guest">  </div>

    <ng-template #guest>
        <ion-row  class="warning-container">
            <ion-col col-12>
                {{ 'WARNING.NOT_CONNECTED_FAV' | translate }}
            </ion-col>
        </ion-row>

    </ng-template>

    <ng-template #authenticated>

        <ion-row *ngIf="(favoris | async)?.length==0" class="warning-container">
            <ion-col col-12>
                Aucune station en favoris
            </ion-col>
        </ion-row>
        <button ion-item *ngFor="let fav of favoris | async"  (click)="itemSelected(fav)">
            <ion-label>{{fav.name}}</ion-label>
            <button ion-button outline clear large item-end (click)="removeFavoris(fav,$event)"><ion-icon color="danger" name="md-trash"></ion-icon></button>
        </button>
    </ng-template>
    
</ion-content>
