ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}

page-map {
    #map{
        height: 100%;
    }

    .no-border .item-inner{
        border-bottom: none !important;
    }

    .button-margin{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .padding-icon{
        padding-right: 10px;
    }

    .infoWindow-style{
        text-align: center;
    }

}
