<ion-header no-border>
    <ion-toolbar color="blue">
        <ion-navbar>
            <ion-buttons *ngIf="commentUpdate" end>
                <button ion-button icon-end outline (click)="cancelUpdateComment()">Annuler</button>
            </ion-buttons>
            <ion-item class="no-border" color="blueLight">
                    <ion-icon class="size-icon-text" item-start name="text"></ion-icon>
                    <ion-input #commentInput clearInput autocorrect [(ngModel)] = "commentModel" placeholder="Commenter..." maxlength="200"></ion-input>
                </ion-item>
                <ion-buttons class="button-close" *ngIf="commentModel && commentModel.length > 0" end>
                    <button class="size-button-send padding-send-button" ion-button icon-only (click)="sendComment()">
                        <ion-icon name="md-send"></ion-icon>               
                    </button>
                </ion-buttons> 
        </ion-navbar>
    </ion-toolbar>
</ion-header>


<ion-content class="background-light">

    <my-loader *ngIf="loading"></my-loader>

    <ion-card *ngIf="spot">
        
          <ion-item>
            <ion-avatar *ngIf="!spot.anonyme" item-start>
                <img [src]="(spot.userPicture)" />
            </ion-avatar>
            <ion-avatar *ngIf="spot.anonyme" item-start>
                <ion-icon class="icon-size" name="contact"></ion-icon>
            </ion-avatar>
            <h3 *ngIf="!spot.anonyme">{{ spot.userName }}</h3>
            <h3 *ngIf="spot.anonyme">{{ 'ANONYME' | translate }}</h3>
            <p>{{spot.dateUpdate | formatDate:'relative'}}</p>  
          </ion-item>
    
        
          <ion-card-content>
            <p [innerHTML]="spot.message | formatHashtag"></p>
          </ion-card-content>

          <ion-row class="border-top row-margin rowNotification">
            <ion-col class="noPadding">
                    <button (click)="openModalLike(spot)"  ion-button item-start icon-only clear small>
                        <ion-icon color="blue" name="thumbs-up"></ion-icon>
                        <p>{{spot.likes | formatLikes}}</p>
                    </button>
                </ion-col> 
            <ion-col class="noPadding align-end"> 
                <button class="margin-right-comment"  ion-button item-end icon-only clear small>
                    <p>{{spot?.commentCount | formatComments}}</p>
                </button>
            </ion-col>
        </ion-row>
        </ion-card>

            <div class="message-wrap">
                <ion-item class="message left no-border" *ngFor="let comment of comments | async">
                    <ion-avatar item-start>
                        <img [src]="(comment.userPicture)" />
                    </ion-avatar>
                    <div class="msg-detail">
                        <div class="msg-info">
                            <p>{{comment.userName}}&nbsp;&nbsp;&nbsp;{{comment.createdAt | formatDate:'relative'}}</p>
                        </div>
                        <button *ngIf="userUid == comment.userUid" class="msg-content" (click)="editComment(comment)">
                            <span class="triangle"></span>
                            <p class="line-breaker">{{comment.content}}</p>
                        </button>
                        <div *ngIf="userUid !== comment.userUid" class="msg-content">
                            <span class="triangle"></span>
                            <p class="line-breaker">{{comment.content}}</p>
                        </div>
                    </div>
                </ion-item>
            </div>

</ion-content>
