<ion-header no-border>
      <ion-toolbar color="blue">
          <ion-navbar>
              <ion-title>{{ 'TITLE.SPOT' | translate }}</ion-title>
          </ion-navbar>
      </ion-toolbar>
      <ion-toolbar no-border-top color="blue">
              <ion-item class="no-border" color="blueLight">
                <ion-icon class="size-icon-text" item-start name="text"></ion-icon>
                <ion-input clearInput [(ngModel)] = "commentModel" placeholder="Commenter..."></ion-input>
              </ion-item>
       
            <ion-buttons class="button-close" *ngIf="commentModel && commentModel.length > 0" end>
              <button class="size-button-send" ion-button icon-only (click)="sendComment()">
                <ion-icon name="md-send"></ion-icon>               
              </button>
            </ion-buttons> 
          </ion-toolbar>
</ion-header>


<ion-content class="background-light">

    <my-loader *ngIf="loading"></my-loader>

    <ion-card *ngIf="spot">
        
          <ion-item>
            <ion-avatar *ngIf="!spot.anonyme" item-start>
                <img [src]="(spot.userPicture)" />
            </ion-avatar>
            <ion-avatar *ngIf="spot.anonyme" item-start>
                <ion-icon class="icon-size" name="contact"></ion-icon>
            </ion-avatar>
            <h3 *ngIf="!spot.anonyme">{{ spot.userName }}</h3>
            <h3 *ngIf="spot.anonyme">{{ 'ANONYME' | translate }}</h3>
            <p>{{spot.dateUpdate | formatDate:'relative'}}</p>  
          </ion-item>
    
        
          <ion-card-content>
            <p [innerHTML]="spot.message | formatHashtag"></p>
          </ion-card-content>

          <ion-row justify-content-center align-items-center class="border-top row-margin">
                <ion-col>
                  <button class="button-padding" (click)="incrementLike(spot)" ion-button icon-only clear small>
                    <ion-icon [color]="spot.likes | formatColorIcon:userUid" [name]="spot.likes | formatLikeIcon:userUid"></ion-icon>
                    <div class="greyColor">J'aime</div>
                </button>
                </ion-col>
                <ion-col>
                    <button  (click)="openModalLike(spot)"  ion-button item-end icon-only clear small>
                        <ion-icon color="blue" name="thumbs-up"></ion-icon>
                        <div class="greyColor">{{spot.likes | formatLikes}}</div>
                    </button>
                   </ion-col> 
                <ion-col> 
                    <button (click)="openModalLike(spot)"  ion-button item-end icon-only clear small>
                        <ion-icon color="blue" name="text"></ion-icon>
                        <div class="greyColor">Commenter</div>
                    </button>
                </ion-col>
              </ion-row>
            </ion-card>

            <ion-list *ngFor="let comment of comments | async">

                    <ion-item>
                            <ion-avatar item-start>
                              <img src="assets/img/avatar-ts-woody.png">
                            </ion-avatar>
                            <h2>Woody</h2>
                            <p>{{comment.content}}</p>
                            <ion-note item-end>3:43 pm</ion-note>
                      </ion-item>

            </ion-list>

</ion-content>
