// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.warning-container{
    width: 100%;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color:#fff3cd;
    border-color:#ffeeba;
}

.item-inner-without-border div{
    border-bottom:0px !important;
}

.float-right{
    float: right;
}

.text-right{
    text-align: right;
}

.background-light{
    background-color:#f4f4f4;
}


.hashtag{
    color:#488aff;
}

.paragraphe-height{
    max-height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-card{
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.border-top{
    border-top: 0.55px solid #c8c7cc;
}

.greyColor{
    color:#616770;
    font-weight: bold;
}

.row-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.menu .item-inner{
    background-image: none !important;
}

.refresher-pulling{
    background-color: #0091D4;
}

.toolbar-height{
    height: 100px;
}

.like-img{
    width:30px !important;
}