<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-item class="item-inner-without-border" *ngIf="userData">
        <ion-avatar item-start>
          <img [src]="userData.picture" />
        </ion-avatar>
        {{ userData.username }}
      </ion-item>
      <button ion-button *ngIf="deconnected" (click)="signInWithFacebook()">connexion</button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-row>
              <ion-col col-2><ion-icon name={{p.icon}}></ion-icon> </ion-col>
              <ion-col col-10>{{p.title}}</ion-col>
          </ion-row>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>