<ion-header no-border>
    <ion-toolbar color="blue">
        <ion-navbar>
            <button ion-button color="blue" full class="button-margin" (click)="clearSearchBar()">
                <ion-searchbar class="home-searchbar" [(ngModel)] = "searchBarModel" debounce=500 placeholder="Recherche des #" #searchBar (ionInput)="getItems($event)" (ionClear)="onClear($event)"></ion-searchbar>
            </button>        
        </ion-navbar>
        <ion-buttons *ngIf="searchBarModel && searchBarModel.length > 0" end>
            <button ion-button icon-only (click)="clearSearchBar()">
            <ion-icon name="md-close"></ion-icon> 
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="bacground-light"> 

  <my-loader *ngIf="loading"></my-loader>

  <ion-list *ngIf="!hashtagKeySelected">
      <button ion-item *ngFor="let tag of hashtags | async" (click)="doSearch(tag)">
            <ion-icon *ngIf="isHistorySearch" name="md-time" item-start></ion-icon>
            <ion-label>{{tag.tag}}</ion-label>
      </button>
  </ion-list>

  <ion-list *ngIf="hashtagKeySelected"> 
        <ion-card  *ngFor="let spot of spotsFiltered | async">
            <div id="{{(spot | async)?.id}}" (click)="goDetailSpot($event)">    
                <ion-item>
                    <ion-avatar *ngIf="!((spot|async)?.anonyme)" item-start>
                            <img [src]="((spot|async)?.userPicture)" />
                    </ion-avatar>
                    <ion-avatar *ngIf="((spot|async)?.anonyme)" item-start>
                            <ion-icon class="icon-size" name="contact"></ion-icon>
                    </ion-avatar>
                    <h3 *ngIf="!((spot|async)?.anonyme)">{{ (spot|async)?.userName  }}</h3>
                    <h3 *ngIf="((spot|async)?.anonyme)">{{ 'ANONYME' | translate }}</h3>
                </ion-item>
                    
                <ion-card-content>
                <p class="paragraphe-height" [innerHTML]="(spot|async)?.message  | formatHashtag"></p>
                </ion-card-content>
            </div>     
        </ion-card>                    
    </ion-list>

    <ion-infinite-scroll *ngIf="hashtagKeySelected" (ionInfinite)="doInfinite($event)" threshold="100px">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
