page-spot-filter {
    .searchbar-clear-icon{
        display: none !important;
    }

    .home-searchbar{
        background: none;
    }

    .button-margin{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
