<ion-header>
    <ion-navbar>
      <ion-searchbar [(ngModel)] = "searchBarModel" placeholder="Recherche des #" #searchBar (ionInput)="getItems($event)" (ionClear)="onClear($event)"></ion-searchbar>
    </ion-navbar>
</ion-header>


<ion-content class="bacground-light"> 

  <ion-list *ngIf="!hashtagKeySelected">
      <button ion-item *ngFor="let tag of hashtags | async" (click)="doSearch(tag)">
          <ion-label>{{tag.name}}</ion-label>
      </button>
  </ion-list>

  <ion-list *ngIf="hashtagKeySelected"> 
        <ion-card (click)="goDetailSpot(spot)" *ngFor="let spot of spotsFiltered | async">     
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="((spot|async)?.userPicture)" />
                </ion-avatar>
                <h3>{{ (spot|async)?.userName }}</h3>
                <p>{{(spot|async)?.dateUpdate | formatDate}}</p>  
            </ion-item>
            
                
            <ion-card-content>
            <p class="paragraphe-height" [innerHTML]="(spot|async)?.message  | formatHashtag"></p>
            </ion-card-content>
                
            <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
                </button>
            </ion-col>
            <ion-col> 
                <ion-item>
                    <button ion-button item-end icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>4 Comments</div>
                    </button>
                </ion-item> 
            </ion-col>
            </ion-row>
        </ion-card>                    
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
