<ion-header>
  <ion-toolbar color="blue" no-border-top>
      <button  ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Spots</ion-title>
      <ion-buttons end>
        <button  ion-button icon-only (click)="goFiltreSpot()">
          <ion-icon name="ios-search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="bacground-light">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <div *ngIf="searchSpots" class="spinner-container">
        <ion-spinner name="ios"></ion-spinner>
    </div>

    <ion-row *ngIf="(spots)?.length==0 && (searchSpots) == false" class="warning-container">
        <ion-col col-12>
            Aucun spot
        </ion-col>
    </ion-row>

    <ion-list>
              <ion-card *ngFor="let t of spotsFiltered">
                  <h3>{{t.message}}</h3>
              </ion-card>
    </ion-list>

    <ion-list>

        <ion-card (click)="goDetailSpot(spot)" *ngFor="let spot of spots | async">
            
              <ion-item>
                <ion-avatar item-start>
                    <img [src]="(spot.user | async)?.user.picture" />
                </ion-avatar>
                <h3>{{ (spot.user | async)?.user.username }}</h3>
                <p>{{spot.dateUpdate | formatDate}}</p>  
              </ion-item>
        
            
              <ion-card-content>
                <p class="paragraphe-height" [innerHTML]="spot.message  | formatHashtag"></p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                  </button>
                </ion-col>
                <ion-col> 
                    <ion-item>
                        <button ion-button item-end icon-left clear small>
                            <ion-icon name="text"></ion-icon>
                            <div>4 Comments</div>
                        </button>
                    </ion-item> 
                </ion-col>
              </ion-row>
            
            </ion-card>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <ion-fab right bottom>
      <button ion-fab (click)="goAddSpot()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
