page-spot {
    .bacground-light{
        background-color:#f4f4f4;
    }

    .hashtag{
        color:#488aff;
    }

    .paragraphe-height{
        max-height: 8em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
