page-spot {
    .button-padding{
        padding:0;
    }

    .button-margin{
        margin:0;
    }

    .padding-left{
        padding-left: 16px;
    }

    .row-margin{
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon-size{
        font-size: 2.5em !important;
    }

    .refresher-pulling{
        background-color: #0091D4;
    }
    
    .fixed-content{
        background-color: #0091D4 !important;
    }

    .border-top{
        border-top: 0.55px solid #c8c7cc;
    }

    .greyColor{
        color:#616770;
        font-weight: bold;
    }

}
