<ion-header>
  <ion-toolbar color="blue" no-border-top>
        <button  ion-button icon-only menuToggle (click)="goProfile()">
            <ion-icon name="ios-person"></ion-icon>
        </button>
      <ion-title>{{ 'TITLE.SPOTS' | translate }}</ion-title>
      <ion-buttons end>
        <button  ion-button icon-only (click)="goFiltreSpot()">
          <ion-icon name="ios-search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="bacground-light">

    <div *ngIf="userUid; then authenticated else guest">  </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            refreshingText="{{ 'REFRESHING' | translate }}">
          </ion-refresher-content>
    </ion-refresher>

    <ng-template #guest>
        <ion-row class="warning-container">
            <ion-col col-12>
                {{ 'WARNING.NOT_CONNECTED_SPOT' | translate }}
            </ion-col>
        </ion-row>
    </ng-template>

    <ng-template #authenticated>
       
        <my-loader *ngIf="searchSpots"></my-loader>
        
        <ion-row *ngIf="(spots)?.length==0 && (searchSpots) == false" class="warning-container">
            <ion-col col-12>
                {{ 'WARNING.EMPTY_SPOT' | translate }}
            </ion-col>
        </ion-row>
    
        <ion-list> 
    
            <ion-card *ngFor="let spot of spots | async">
                
                  <ion-item>
                    <ion-avatar *ngIf="!spot.anonyme" item-start>
                        <img [src]="(spot.userPicture)" />
                    </ion-avatar>
                    <ion-avatar *ngIf="spot.anonyme" item-start>
                        <ion-icon class="icon-size" name="contact"></ion-icon>
                    </ion-avatar>

                    <h3 *ngIf="!spot.anonyme">{{ spot.userName }}</h3>
                    <h3 *ngIf="spot.anonyme">{{ 'ANONYME' | translate }}</h3>
                    <p>{{spot.dateUpdate | formatDate:'relative'}}</p>  
                  </ion-item>
                 
                  <ion-card-content>
                    <p [innerHTML]="spot.message  | formatHashtag"></p>
                  </ion-card-content>
                
                  <ion-row justify-content-center align-items-center class="border-top row-margin">
                        <ion-col>
                          <button class="button-padding" (click)="incrementLike(spot)" ion-button icon-only clear small>
                            <ion-icon [color]="spot.likes | formatColorIcon:userUid" [name]="spot.likes | formatLikeIcon:userUid"></ion-icon>
                            <div class="greyColor">J'aime</div>
                        </button>
                        </ion-col>
                        <ion-col>
                            <button (click)="openModalLike(spot)"  ion-button item-end icon-only clear small>
                                <ion-icon color="blue" name="thumbs-up"></ion-icon>
                                <div class="greyColor">{{spot.likes | formatLikes}}</div>
                            </button>
                           </ion-col> 
                        <ion-col> 
                            <button (click)="openModalLike(spot)"  ion-button item-end icon-only clear small>
                                <ion-icon name="text"></ion-icon>
                                <div class="greyColor">Commenter</div>
                            </button>
                        </ion-col>
                      </ion-row>
                
                </ion-card>
    
        </ion-list>
    
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
          </ion-infinite-scroll>
    

    </ng-template>

    <ion-fab *ngIf="userUid" right bottom>
        <button color="blue" ion-fab (click)="goAddSpot()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
      

</ion-content>
